<div class="item card">
    <div class="header">{{item.name}}</div>

    <div class="ctnr">
        <div>
            <div>
                Price:
            </div>            
        </div>
        <div>
            <div>
                ${{item.price}}
            </div>
        </div>
        <div>
            <div>
                Take Orders:
            </div>            
        </div>
        <div>
            <div>
                {{item.orders}}
            </div>
        </div>
        <div>
            <div>
                Revenue:
            </div>            
        </div>
        <div>
            <div>
                ${{item.revenue}}
            </div>
        </div>
    </div>